################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Olympics/bin
/.vs/Olympics/DesignTimeBuild
/.vs/Olympics/v15
/Olympics/obj/Debug
/packages
